[submodule "utils/src/blur_filtering/ddffnet"]
	path = utils/src/blur_filtering/ddffnet
	url = git@github.com:ATMI/D-DFFNet.git
[submodule "utils/src/image_grouping/SuperGlobal"]
	path = utils/src/image_grouping/SuperGlobal
	url = https://github.com/Shintifo/SuperGlobal
