[submodule "SuperGlobal"]
	path = SuperGlobal
	url = https://github.com/Shintifo/SuperGlobal
[submodule "utils/src/image_grouping/SuperGlobal"]
	path = utils/src/image_grouping/SuperGlobal
	url = https://github.com/Shintifo/SuperGlobal
